@charset "UTF-8";
blockquote, body, button, dd, dl, dt, fieldset, h1, h2, h3, h4, h5, h6, hr, input, lengend, li, ol, p, pre, td, textarea, th, ul {
	margin: 0;
	padding: 0
}
body, button, input, select, textarea {
	font: 12px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif
}
h1 {
	font-size: 18px
}
h2 {
	font-size: 16px
}
h3 {
	font-size: 14px
}
h4, h5, h6 {
	font-size: 100%
}
address, cite, dfn, em, var {
	font-style: normal
}
code, kbd, pre, samp, tt {
	font-family: "Microsoft YaHei", Courier, monospace
}
small {
	font-size: 12px
}
ol, ul {
	list-style: none
}
a {
	text-decoration: none
}
a:hover {
	text-decoration: underline
}
abbr[title], acronym[title] {
	border-bottom: 1px dotted;
	cursor: help
}
q:after, q:before {
	content: ''
}
legend {
	color: #000
}
fieldset, img {
	border: none
}
button, input, select, textarea {
	font-size: 100%
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
hr {
	border: none;
	height: 1px
}
html {
	overflow-y: scroll
}
.clearfix {
	clear: both
}
.fl {
	float: left
}
.fr {
	float: right
}
footer, header, section {
	width: 10rem;
	margin: 0 auto;
	overflow: hidden
}
.app {
	width: 10rem;
	margin: 0 auto;
	overflow: hidden;
	font-family: "黑体"
}
.app .app_ban {
	width: 10rem;
	height: 8.4375rem;
	background: url(../img/ban.jpg) no-repeat center/cover;
	position: relative
}
.app .app_ban a {
	width: 2.25rem;
	height: .57813rem;
	background: url(../img/ban_zx.png) no-repeat center/cover;
	display: block;
	position: absolute;
	left: .70313rem;
	bottom: 1.40625rem
}
.app .part1 {
	background: #e5e5e5;
	padding: .46875rem 0
}
.app .part1 .tit1 {
	width: 7.14063rem;
	height: 1.04688rem;
	margin: 0 auto;
	background: url(../img/tit1.png) no-repeat center/cover;
	display: block
}
.app .part1 ul {
	width: 9.90625rem;
	margin: .3125rem auto 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}
.app .part1 ul li {
	-webkit-box-flex: 3;
	-ms-flex: 3;
	flex: 3;
	width: 3.15625rem;
	margin-left: .07813rem
}
.app .part1 ul li span {
	width: 3.15625rem;
	height: 3.15625rem;
	display: block
}
.app .part1 ul li div {
	width: 2.82813rem;
	height: .59375rem;
	margin: .15625rem auto 0;
	text-align: center;
	font-size: .375rem;
	font-weight: 400;
	color: #fff;
	line-height: 1.8;
	line-height: 1.5;
	background: url(../img/bg1.png) no-repeat center/cover
}
.app .part1 ul li:nth-child(1) span {
	background: url(../img/tyx1.png) no-repeat center/cover
}
.app .part1 ul li:nth-child(2) span {
	background: url(../img/tyx2.png) no-repeat center/cover
}
.app .part1 ul li:nth-child(3) span {
	background: url(../img/tyx3.png) no-repeat center/cover
}
.app .part1 .zx1 {
	width: 5.34375rem;
	height: 1rem;
	margin: .3125rem auto 0;
	background: url(../img/zx1.png) no-repeat center/cover;
	display: block
}
.app .part2 {
	background: #f4e9dc;
	padding: .46875rem 0
}
.app .part2 .tit2 {
	width: 7.14063rem;
	height: 1.04688rem;
	margin: 0 auto;
	background: url(../img/tit2.png) no-repeat center/cover;
	display: block
}
.app .part2 .xt1 {
	width: 9.40625rem;
	height: 3.90625rem;
	margin: .3125rem auto .15625rem
}
.app .part2 .xt1 .xtt1 {
	width: 4.35938rem;
	height: 3.90625rem;
	float: left;
	background: url(../img/tyx4.png) no-repeat center/cover
}
.app .part2 .xt1 .xtt2 {
	width: 5.04688rem;
	height: 3.78125rem;
	margin-top: .0625rem;
	float: left;
	background: url(../img/tyx5.png) no-repeat center/cover
}
.app .part2 .xt1 .xtt2 p {
	font-size: .28125rem;
	font-weight: 400;
	color: #fff;
	line-height: 1.8;
	text-align: justify;
	padding: .3125rem .25rem
}
.app .part2 .xt1 .xtt2 p em {
	color: #fde651
}
.app .part2 .xt2 {
	width: 9.53125rem;
	height: 7.57813rem;
	margin: 0 auto;
	position: relative
}
.app .part2 .xt2 a {
	width: 3.6875rem;
	height: 3.6875rem;
	cursor: pointer;
	background: url(../img/tyx6.png) no-repeat center/cover;
	display: inline-block;
	position: absolute;
	left: 2.92188rem;
	top: 1.90625rem;
	z-index: 5；
}
.app .part2 .xt2 ul {
	width: 9.53125rem;
	height: 7.57813rem;
	margin: 0 auto
}
.app .part2 .xt2 li {
	width: 4.75rem;
	height: 3.6875rem;
	margin-bottom: .125rem;
	position: relative
}
.app .part2 .xt2 li span {
	width: 3.6875rem;
	height: 3.6875rem;
	display: inline-block
}
.app .part2 .xt2 li p {
	font-size: .375rem;
	font-weight: 400;
	color: #442813;
	line-height: 1.8;
	line-height: 1.2;
	text-align: center;
	float: left;
	position: absolute;
	z-index: 2；
}
.app .part2 .xt2 li:nth-child(1) span {
	float: right;
	background: url(../img/tyx7.png) no-repeat center/cover
}
.app .part2 .xt2 li:nth-child(2) span {
	float: left;
	background: url(../img/tyx8.png) no-repeat center/cover
}
.app .part2 .xt2 li:nth-child(3) span {
	float: right;
	background: url(../img/tyx9.png) no-repeat center/cover
}
.app .part2 .xt2 li:nth-child(4) span {
	float: left;
	background: url(../img/tyx10.png) no-repeat center/cover
}
.app .part2 .xt2 li:nth-child(1) p {
	width: 2.28125rem;
	left: 0;
	top: 2.96875rem
}
.app .part2 .xt2 li:nth-child(2) p {
	width: 2.28125rem;
	right: 0;
	top: 2.96875rem
}
.app .part2 .xt2 li:nth-child(3) p {
	width: 1.90625rem;
	left: .23438rem;
	top: 2.89063rem
}
.app .part2 .xt2 li:nth-child(4) p {
	width: 1.90625rem;
	right: .23438rem;
	top: 2.89063rem
}
.app .part3 {
	width: 10rem;
	height: 9.76563rem;
	position: relative
}
.app .part3 .fa {
	width: 10rem;
	height: 8.96875rem;
	padding-top: .3125rem;
	background: url(../img/tyx11.png) no-repeat top center/cover
}
.app .part3 .fa .tit3 {
	width: 7.54688rem;
	height: 1.03125rem;
	margin: 0 auto;
	background: url(../img/tit3.png) no-repeat center/cover;
	display: block
}
.app .part3 .fa .fa1 {
	width: 4.6875rem;
	height: 5.46875rem;
	float: right;
	margin-right: .46875rem;
	margin-top: .625rem;
	display: inline
}
.app .part3 .fa .fa1 h2 {
	font-size: .375rem;
	font-weight: 400;
	color: #333;
	line-height: 1.8;
	text-align: center;
	line-height: 2
}
.app .part3 .fa .fa1 h2 b {
	color: #805930
}
.app .part3 .fa .fa1 h3 {
	font-size: .75rem;
	font-weight: 400;
	color: #f98a15;
	line-height: 1.8;
	line-height: .8;
	text-align: center;
	font-weight: 700
}
.app .part3 .fa .fa1 h4 {
	font-size: .46875rem;
	font-weight: 400;
	color: #f98a15;
	line-height: 1.8;
	text-align: center;
	font-weight: 700
}
.app .part3 .fa .fa1 .fa2 {
	width: 2.40625rem;
	height: .90625rem;
	margin: .15625rem auto 0;
	background: url(../img/tyx12.png) no-repeat center/cover
}
.app .part3 .fa .fa1 .fa3 {
	width: 3.10938rem;
	height: .90625rem;
	margin: 0 auto;
	background: url(../img/tyx13.png) no-repeat center/cover
}
.app .part3 .fa4 {
	width: 10rem;
	height: 1.32813rem;
	margin: 0 auto;
	background: url(../img/zx2.png) no-repeat center/cover;
	display: block;
	position: absolute;
	left: 0;
	bottom: 0
}
.app .part4 {
	width: 10rem;
	height: 17.46875rem;
	padding: .3125rem 0;
	background: url(../img/tyx14.png) no-repeat top center/cover
}
.app .part4 .tit4 {
	width: 7.15625rem;
	height: 1.04688rem;
	margin: 0 auto;
	background: url(../img/tit4.png) no-repeat center/cover;
	display: block
}
.app .part4 .al {
	width: 9.53125rem;
	height: 5.70313rem;
	margin: .46875rem auto 0
}
.app .part4 .al .al1 {
	width: 5.45313rem;
	height: 5.70313rem;
	float: left;
	background: url(../img/tyx15.png) no-repeat top center/cover
}
.app .part4 .al .al2 {
	width: 4.0625rem;
	float: left;
	margin-top: 1.64063rem
}
.app .part4 .al .al2 h3 {
	font-size: .375rem;
	font-weight: 400;
	color: #000;
	line-height: 1.8;
	margin-top: .46875rem
}
.app .part4 .al .al2 .al3 {
	width: 3.96875rem;
	height: .54688rem;
	background: url(../img/tyx16.png) no-repeat top center/cover
}
.app .part4 .al .al2 .al4 {
	width: 3.40625rem;
	height: .67188rem;
	margin-top: .15625rem;
	background: url(../img/tyx17.png) no-repeat top center/cover
}
.app .part4 .al .al2 .al5 {
	width: 3.40625rem;
	height: .67188rem;
	margin-top: .15625rem;
	margin-left: .46875rem;
	background: url(../img/tyx18.png) no-repeat top center/cover
}
.app .part4 ul {
	width: 9.125rem;
	margin: .23438rem auto 0
}
.app .part4 ul li {
	width: 9.125rem;
	height: 3.98438rem;
	margin: .23438rem auto 0;
	float: left
}
.app .part4 ul li:nth-child(1) {
	background: url(../img/al1.png) no-repeat center/cover
}
.app .part4 ul li:nth-child(2) {
	background: url(../img/al2.png) no-repeat center/cover
}
.app .part4 .zx2 {
	width: 5.34375rem;
	height: 1rem;
	margin: .3125rem auto 0;
	background: url(../img/zx3.png) no-repeat center/cover;
	display: block
}
.app .part5 {
	margin-top: .3125rem
}
.app .part5 .icon {
	width: 10rem;
	height: .625rem;
	margin: 0 auto
}
.app .part5 .yz {
	background: #442813
}
.app .part5 .yz .tit5 {
	width: 7.14063rem;
	height: 1.04688rem;
	margin: -.01563rem auto 0;
	background: url(../img/tit5.png) no-repeat center/cover;
	display: block
}
.app .part5 .yz .yz1 {
	width: 9.25rem;
	height: 4.5625rem;
	margin: .1875rem auto 0;
	background: url(../img/tyx19.png) no-repeat center/cover
}
.app .part5 .yz ul {
	width: 9.25rem;
	height: 1.40625rem;
	margin: 0 auto
}
.app .part5 .yz ul li {
	width: 4.625rem;
	height: .39063rem;
	margin-top: .3125rem;
	float: left
}
.app .part5 .yz ul li:nth-child(1) span {
	width: 2.4375rem;
	height: .39063rem;
	margin-left: .85938rem;
	background: url(../img/1.png) no-repeat center/cover;
	display: block
}
.app .part5 .yz ul li:nth-child(2) span {
	width: 3.9375rem;
	height: .39063rem;
	margin-left: .15625rem;
	background: url(../img/3.png) no-repeat center/cover;
	display: block
}
.app .part5 .yz ul li:nth-child(3) span {
	width: 2.4375rem;
	height: .39063rem;
	margin-left: .85938rem;
	background: url(../img/2.png) no-repeat center/cover;
	display: block
}
.app .part5 .yz ul li:nth-child(4) span {
	width: 2.4375rem;
	height: .39063rem;
	margin-left: .15625rem;
	background: url(../img/4.png) no-repeat center/cover;
	display: block
}
.app .part5 .yz p {
	width: 8.4375rem;
	font-size: .3125rem;
	font-weight: 400;
	color: #fff;
	line-height: 1.8;
	margin: .3125rem auto 0;
	text-align: center
}
.app .part5 .yz p em {
	color: #ffca92
}
.app .part5 .yz .zx3 {
	width: 5.34375rem;
	height: 1rem;
	margin: .3125rem auto 0;
	background: url(../img/zx4.png) no-repeat center/cover;
	display: block
}
.app .part6 {
	width: 10rem;
	height: 9.39063rem;
	margin-top: -.23438rem;
	background: url(../img/tyx20.png) no-repeat center/cover
}
.app .part6 .js {
	width: 5.25rem;
	height: 5.15625rem;
	float: right;
	margin-top: 1.5625rem
}
.app .part6 .js p {
	font-size: .375rem;
	font-weight: 400;
	color: #442813;
	line-height: 1.8;
	line-height: 1.5
}
.app .part6 .js p em {
	font-size: .5625rem;
	font-weight: 400;
	color: #442813;
	line-height: 1.8;
	line-height: 1.3
}
.app .part6 .js div {
	width: 5.125rem;
	height: 2.34375rem;
	background: url(../img/tyx21.png) no-repeat center/cover
}
.app .part6 .js ul {
	width: 5.25rem;
	height: 2.10938rem;
	position: relative
}
.app .part6 .js ul li {
	width: 1.90625rem;
	float: left
}
.app .part6 .js ul li span {
	width: 1.90625rem;
	height: 1.76563rem;
	display: block
}
.app .part6 .js ul li:nth-child(1) span {
	background: url(../img/tyx22.png) no-repeat center/cover;
	position: absolute;
	left: 0;
	top: 0
}
.app .part6 .js ul li:nth-child(2) span {
	background: url(../img/tyx23.png) no-repeat center/cover;
	position: absolute;
	left: 1.6875rem;
	bottom: 0
}
.app .part6 .js ul li:nth-child(3) span {
	background: url(../img/tyx24.png) no-repeat center/cover;
	position: absolute;
	right: 0;
	top: 0
}
.app .part7 {
	margin-top: -.23438rem
}
.app .part7 .icon {
	width: 10rem;
	height: .625rem;
	margin: 0 auto
}
.app .part7 .dy {
	background: #e5e5e5
}
.app .part7 .dy .tit6 {
	width: 7.14063rem;
	height: 1.03125rem;
	margin: 0 auto;
	background: url(../img/tit6.png) no-repeat center/cover;
	display: block
}
.app .part7 .dy ul li {
	width: 9.6875rem;
	height: 4.6875rem;
	padding: .3125rem .07813rem .15625rem .07813rem;
	margin: .15625rem auto 0
}
.app .part7 .dy ul li .dy1 {
	width: 4.20313rem;
	height: 4.0625rem
}
.app .part7 .dy ul li .dy2 {
	width: 5.15625rem;
	height: 4.0625rem;
	position: relative
}
.app .part7 .dy ul li .dy2 h2 {
	font-size: .4375rem;
	font-weight: 400;
	color: #000;
	line-height: 1.8;
	font-weight: 700
}
.app .part7 .dy ul li .dy2 em {
	width: 1.25rem;
	height: .04688rem;
	background: #805930;
	display: block
}
.app .part7 .dy ul li .dy2 h3 {
	font-size: .375rem;
	font-weight: 400;
	color: #ffca92;
	line-height: 1.8;
	margin-top: .15625rem;
	text-align: center;
	background: #805930;
	display: block
}
.app .part7 .dy ul li .dy2 p {
	font-size: .28125rem;
	font-weight: 400;
	color: #666;
	line-height: 1.8;
	line-height: 1.6;
	padding-top: .07813rem;
	text-align: justify
}
.app .part7 .dy ul li .dy2 a {
	width: 3.90625rem;
	height: .82813rem;
	margin: 0 auto;
	font-size: .375rem;
	font-weight: 400;
	color: #fff;
	line-height: 1.8;
	line-height: 2;
	text-align: center;
	background: url(../img/zx_bg.png) no-repeat center/cover;
	display: block;
	position: absolute;
	left: .54688rem;
	bottom: .03125rem
}
.app .part7 .dy ul li:nth-child(1), .app .part7 .dy ul li:nth-child(3) {
	background: #fff
}
.app .part8 {
	padding-top: .46875rem
}
.app .part8 .tit7 {
	width: 7.14063rem;
	height: 1.03125rem;
	margin: 0 auto;
	background: url(../img/tit7.png) no-repeat center/cover;
	display: block
}
.app .part8 .zj {
	width: 10rem;
	height: 8.09375rem;
	margin: .23438rem auto 0;
	background: url(../img/zj_bg.png) no-repeat center/cover
}
.app .part8 .zj .zj1 {
	width: 5.46875rem;
	float: right;
	margin-top: 1.25rem;
	margin-right: .23438rem;
	display: inline
}
.app .part8 .zj .zj1 h2 {
	font-size: .46875rem;
	font-weight: 400;
	color: #b27c44;
	line-height: 1.8;
	line-height: 1.5
}
.app .part8 .zj .zj1 div {
	margin-top: .23438rem
}
.app .part8 .zj .zj1 div p {
	font-size: .28125rem;
	font-weight: 400;
	color: #fff;
	line-height: 1.8
}
.app .part8 .zj .zj1 div p span {
	float: right;
	text-align: right
}
.app .part8 .zj .zj1 ul {
	height: .42188rem;
	margin-left: 1.09375rem;
	margin-top: .46875rem
}
.app .part8 .zj .zj1 ul li {
	width: .98438rem;
	height: .42188rem;
	float: left;
	margin-right: .23438rem
}
.app .part8 .zj .zj1 ul li:nth-child(1) {
	background: url(../img/zy1.png) no-repeat center/cover
}
.app .part8 .zj .zj1 ul li:nth-child(2) {
	background: url(../img/zy2.png) no-repeat center/cover
}
.app .part8 .zj .zj1 ul li:nth-child(3) {
	background: url(../img/zy3.png) no-repeat center/cover
}
.app .part8 .zj .zj1 a {
	width: 2.96875rem;
	height: .5625rem;
	margin: .625rem auto 0;
	font-size: .375rem;
	font-weight: 400;
	color: #fdb700;
	line-height: 1.8;
	line-height: 1.5;
	text-align: center;
	border: .04688rem solid #fdb700;
	display: block
}
.app .part8 .zj_ry {
	width: 9.84375rem;
	height: 2.875rem;
	margin: 0 auto;
	overflow: hidden
}
.app .part8 .zj_ry ul {
	width: 9.84375rem;
	margin: 0 auto;
	overflow: hidden
}
.app .part8 .zj_ry ul li {
	width: 3.21875rem;
	float: left;
	border: .03125rem solid #7d6f49;
	overflow: hidden
}
.app .part8 .zj_ry ul li span {
	width: 3.21875rem;
	height: 2.46875rem;
	display: block
}
.app .part8 .zj_ry ul li em {
	width: 3.21875rem;
	padding: .03125rem 0;
	font-size: .1875rem;
	font-weight: 400;
	color: #fff;
	line-height: 1.5;
	line-height: 2;
	font-family: "宋体";
	text-align: center;
	background: #333;
	display: block;
	overflow: hidden
}
.app .part9 {
	width: 10rem;
	height: 7.10938rem;
	margin: 0 auto;
	padding-top: .78125rem
}
.app .part9 .pp {
	width: 5rem;
	height: 7.10938rem;
	position: relative;
	float: left
}
.app .part9 .pp .pp1 {
	width: 4.15625rem;
	height: 4.14063rem;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background: url(../img/tyx25.png) no-repeat center/cover
}
.app .part9 .pp .pp2 {
	width: 4.10938rem;
	height: 4.21875rem;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: url(../img/tyx26.png) no-repeat center/cover
}
.app .part9 .pp_jj {
	width: 5rem;
	height: 7.10938rem;
	float: left
}
.app .part9 .pp_jj .pp_tit {
	width: 4.79688rem;
	height: .5625rem;
	background: url(../img/tyx27.png) no-repeat center/cover
}
.app .part9 .pp_jj p {
	font-size: .28125rem;
	font-weight: 400;
	color: #000;
	line-height: 1.8;
	text-align: justify;
	padding: .3125rem .07813rem
}
.app .part9 .pp_jj p em {
	font-size: .375rem;
	font-weight: 400;
	color: #442813;
	line-height: 1.8
}
.app .part9 .pp_jj a {
	width: 3.125rem;
	height: .625rem;
	font-size: .375rem;
	font-weight: 400;
	color: #805930;
	line-height: 1.8;
	line-height: 1.5;
	text-align: center;
	margin: .3125rem auto 0;
	border: .03125rem solid #805930;
	border-radius: .15625rem;
	display: block
}
.app .part9 ul li {
	width: 4.6875rem;
	height: 3.125rem;
	float: left;
	margin: .15625rem;
	display: inline
}
